body{
  background-color: yellowgreen;
}

.container{
  height: 500px;
  
}

.tab-area{
  width: 100px;
}

.tab-btn{
 width: 100%;
 height: 100px;
 background-color: #FFFFFF;
 text-align: center;
 padding-top: 20px;
 border: 1px solid black;
}

.fas {
  color: #EF534E;
  font-size: 20px;
}