body{
 background-color: rgba(45, 210, 30, 0.185);
}

.container{
  height: 500px;
  background-image: url('./images/top-view-fast-food-black-background-mock-up_23-2148321326.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.tab-area{
  width: 100px;
}

.tab-btn{
 width: 100%;
 height: 25%;
 margin: auto 0;
 background-color: #FFFFFF;
 text-align: center;
 padding-top: 40px;
}

.tab-btn:hover{
 border-left: #EF534E 3px solid;
 cursor: pointer;
}

.fas {
  color: #EF534E;
  font-size: 20px;
}

.show{
  display: block;
}

.hide {
  display: none;
}


.main-div{
  text-align: center;
}

.image-style{
  width: 450px;
  height: 250px;
  border-radius: 8px;
}